{{ $quests := .Quests }}
{{ $length := len .Quests }}
<html>

<head>
    <link href="/static/style/style.css" type="text/css" rel="stylesheet">
    <title>Quests </title>
</head>

<body>
    <div class="main">
        <div class="topnav">
            <a class="active" href="/main">View quests</a>
            <a href="/npc">NPCs</a>
            <a href="#quality">Qualities</a>
            <a href="#stat">Stat</a>
        </div>

        <div> General length : {{$length}}</div>
        <div class="container-border">

            {{range $rangeel := $quests}}
            <div class="quest-border">
                {{if .Quest.QuestReward.QuestgiverName}}
                <div>
                    <span style="color :#86b957"><a style="color :#86b957"
                            href="/npc/{{.Quest.QuestReward.QuestgiverName}}">{{.Quest.QuestReward.QuestgiverName}}</a></span>

                    <span style="color :brown">
                        {{if .Quest.QuestReward.RewardLp}}LP:{{.Quest.QuestReward.RewardLp}}{{end}}
                        {{if .Quest.QuestReward.RewardExp}}EXP:{{.Quest.QuestReward.RewardExp}}{{end}}
                        <!-- отображение обычного качества inline-->
                        {{if .Quest.QuestReward.RewardLocalQuality}}{{.Quest.QuestReward.RewardLocalQuality}}
                        {{if .Quest.QuestReward.RewardBy}} {{.Quest.QuestReward.RewardBy}}
                        {{end}}
                        {{end}}
                        <!-- отображение доп качества inline-->
                        {{if .Quest.QuestReward.RewardLocalQualityAdditional}}
                        {{.Quest.QuestReward.RewardLocalQualityAdditional}}
                        {{if .Quest.QuestReward.RewardBy}}{{.Quest.QuestReward.RewardBy}}
                        {{end}}
                        {{end}}

                        {{if .Quest.QuestReward.RewardItem}}{{.Quest.QuestReward.RewardItem}}{{end}}
                    </span>

                    <span style="color:cadetblue">&#10100; {{.Quest.Character}} {{.Time}} &#10101;</span>

                </div>
                {{end}}

            </div>
            {{end}}

        </div>
    </div>

</body>

</html>