{{ $questgivers := .Questgivers }}
{{ $length := len .Questgivers }}
<html>

<head>
    <link href="/static/style/style.css" type="text/css" rel="stylesheet">
    <title>Questgivers </title>
</head>

<body>
    <div class="main">
        <div class="topnav">
            <a href="/main">View quests</a>
            <a class="active" href="/npc">NPCs</a>
            <a href="#quality">Qualities</a>
            <a href="#stat">Stat</a>
        </div>

        <div> General length : {{$length}}</div>
        <div class="container-border">

            {{range $rangeel := .Questgivers}}
            <div class="quest-border">
                {{.QuestReward.QuestgiverName}}
                <span style="color:cadetblue">&#10100;
                    {{if .QuestReward.RewardLocalQuality}} {{.QuestReward.RewardLocalQuality}} {{end}}
                    {{if .QuestReward.RewardLocalQualityAdditional}} {{.QuestReward.RewardLocalQualityAdditional}}
                    {{end}}
                    &#10101;
                </span>
                <button onclick="location.href='/npc/1'" type="button">
                    examine</button>
            </div>
            {{end}}

        </div>
    </div>

</body>

</html>