<html>

<head>
    <link href="/static/style/style.css" type="text/css" rel="stylesheet">
    <title>Questgivers </title>
</head>

<body>
    <div class="main">
        <div class="topnav">
            <a href="/main">View quests</a>
            <a class="active" href="/npc">NPCs</a>
            <a href="/quality">Qualities</a>
            <a href="#stat">Stat</a>
        </div>

        <div> General length : {{len .QuestgiverQualities}}</div>
        <div> String length : {{len .QuestgiversString.Questgivers}}</div>
        <div class="container-border">
            <div class="quest-border">
                &#10100;
                {{range $questgiver := .QuestgiversString.Questgivers}}
                {{$questgiver}}
                {{end}}
                &#10101; LP: {{.QuestgiversString.TotalLp}} EXP: {{.QuestgiversString.TotalExp}}
            </div>

            {{range $rangeel := .QuestgiverQualities}}
            <div class="quest-border">
                <a style="color :#86b957" href="/npc/{{.Questgiver}}">{{.Questgiver}}</a>
                <span style="color:brown">&#10100;
                    {{range $qualel := .Qualities}}
                    {{$qualel}}
                    {{end}}
                    &#10101;
                </span> LP: {{.TotalLp}} EXP: {{.TotalExp}}
            </div>
            {{end}}

        </div>
    </div>

</body>

</html>