<html>

<head>
    <link href="/static/style/style.css" type="text/css" rel="stylesheet">
    <title>Questgivers </title>
</head>

<body>
    <div class="main">
        <div class="topnav">
            <a href="/main">View quests</a>
            <a class="active" href="/npc">NPCs</a>
            <a href="/qualities">Qualities</a>
            <a href="#stat">Stat</a>
        </div>

        <div> General length : {{len .}}</div>
        <div class="container-border">

            {{range $rangeel := .}}
            <div class="quest-border">
                <a style="color :#86b957" href="/npc/{{.Questgiver}}">{{.Questgiver}}</a>
                <span style="color:brown">&#10100;
                    {{range $qualel := .Qualities}}
                    {{$qualel}}
                    {{end}}
                    &#10101;
                </span>
            </div>
            {{end}}

        </div>
    </div>

</body>

</html>