{{ $questgiver := .Questgiver }}
{{ $length := len .Qualities }}
<html>

<head>
    <link href="/style/style.css" type="text/css" rel="stylesheet">
    <title>Questgivers </title>
</head>

<body>
    <div class="main">
        <div class="topnav">
            <a href="/main">View quests</a>
            <a class="active" href="/npc">NPCs</a>
            <a href="#quality">Qualities</a>
            <a href="#stat">Stat</a>
        </div>

        <div> General length : {{$length}}</div>
        <div class="container-border">
            <div class="quest-border">
                <div>
                    <span style="color :#86b957">{{$questgiver}}</span>

                    <span style="color:cadetblue">&#10100; {{.Qualities}} &#10101;</span>
                    <button onclick="location.href='/npc/'" type="button">
                        examine</button>

                </div>
            </div>
        </div>
    </div>
</body>

</html>